.cont-a {
    color: var(--aqua);
    text-align: center;
    font-family: "Rubik",sans-serif;
    margin-left: 9rem;
    margin-right: 9rem;
    margin-top: 1rem;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 100%;
    line-height: 1.88;
}

.loren_abaut {
    width: 100%;
    height: 384px;
    border: 15px;
    text-align: center;
    font-family: "OpenSans"
}
