.about-us {
    background-color: var(----white);
    margin: auto;
    @media screen and (min-width: 1024px){
        padding: 100px;
        
    }
}

.cont-a {
    color: var(--aqua);
    text-align: center;
    font-family: "Rubik",sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    line-height: 1.88;
    display: block;
    text-transform: uppercase;
}

.loren_abaut {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: var(--gunmetal);
    display: block;
    margin: 1.5rem;
    padding: 10px;
}
