/* FOOTER */

/* Mobile */
.footer {
  display: grid;
  grid-column: 1;
  padding: 30px 45px 45px;
  font-family: "Open Sans", sans-serif;
  border-top: 1px solid var(--cool-grey);
  text-align: center;
}

.footer-menu {
  padding: 20px 0 30px;
}

.footer-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--gunmetal);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.copy {
  font-size: 14px;
  color: var(--cool-grey);
}

.footer-logo {
  width: 135px;
  margin: 0 auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .footer {
    padding: 30px 45px 60px;
    grid-template-columns: 1fr 1fr;
  }

  .footer-menu {
    padding: 0;
  }

  .footer-menu ul {
    
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between;
  }
  
  .footer-menu li {
    text-align: right;
  }
  
  .copy {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .footer-logo {
    margin: 0 auto 0 -12px;
  }
}
@media screen and (min-width: 1024px) {
  /* Desktop */
  .footer {
    padding: 45px 140px;
  }
}