
.rectangle-sw {
  width: 100vw;
  height: 579px;
  margin: 50px 0 0;
  padding: 30px 15px 45px;
  background-color: var(--cool-grey-opacity02);
  position: relative; 
}

.square {
  width: 30px;
  height: 30px;
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
  
.title-sw {
  width: 100%;
  height: 45px;
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
  display: block;
}

.text-sw {
  width: 100%;
  height: 192px;
  margin: 0 0 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--gunmetal);
  display: block;
}

// TABLET

@media (min-width: 768px){

  .rectangle-sw {
    height: 333px;
  }

  .container-sw {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article-s {
    margin: auto;
  }

  .article-w {
    margin: auto;
  }

  .title-sw {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-sw {
    width: 324px;
    height: 168px;
    margin: 15px 18.6px;
  }
}

// DESKTOP

@media (min-width: 1200px){

  .rectangle-sw {
    height: 309px;
  }
} 