<header class="header">
  <section class="header-links">
    <nav class="links-nav">
      <h2 class="links-name">NOMBRE DEL GRUPO</h2>
      <ul class="links-menu">
        <li><a href="index.html/#about-us">EQUIPO</a></li>
        <li><a href="#adalabers">QUIENES SOMOS</a></li>
        <li><a href="../contact.html" target="_blank">CONTACTO</a></li>
      </ul>
    </nav>
  </section>
  <section class="header-paragraph">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </section>
</header>