<header class="header">
  <section class="header-links">
    <nav class="links-nav">
      <h1 class="links-name">
        <a href="/">adatares</a>
      </h1>
      <ul class="links-menu">
        <li><a href="./#about-us">equipo</a></li>
        <li><a href="./#adalabers">quienes somos</a></li>
        <li><a href="../contact.html">contacto</a></li>
      </ul>
    </nav>
  </section>
  <section class="header-paragraph">
    <p>Abrimos nuestras etiquetas. ¡Que empiece la aventura!</p>
  </section>
</header>
