<section class="about-us" id="about-us">
  <div>
    <spam class="cont-a">Equipo</spam>
    <span class="loren_abaut">
      Somos cinco chicas intrépidas que decidieron adentrarse en el mundo de la
      programación web, y de repente pum nos hemos convertido en avatares
      digitales. El nuevo idioma entre nosotras, el código, y cuando alguien nos
      pregunta "¿Qué tal el día?", la respuesta más entusiasta es "¡Funciona!"
    </span>
    <span class="loren_abaut">
      Siendo todas diferentes y sin conocernos entre nosotras, Adalab nos brinda
      la oportunidad de formar equipo, trabajando día a día en el proyecto,
      compartiendo nuestros conocimientos, dudas e incertidumbres, para
      finalmente cumplir nuestro propósito, nuestra primera pagina web en
      equipo.
    </span>
  </div>
</section>
