<section class="adalabers">
    <div class="who-are-we">QUIÉNES SOMOS</div>
    <div class="container-pics"></div><img class="who-are-we-pics" src="/public/images/Avatar Esther1.jpg"
        alt="EstherPic"></div>
    <div class="names">Esther García</div>
    <div class="container-description">
        <p class="description">Soy diseñadora gráfica especializada en HTML, CSS y WordPress. Como quería expandir mis
            conocimientos y explorar nuevas rutas, decidí aventurarme en el apasionante mundo de la programación web al
            completo (¡Hola GitHub, JavaScript, React, etc!). Gracias a Adalab, espero que este sea mi primer paso para
            convertirme en una superheroína digital que pueda combinar diseño y programación para crear sitios web de
            los
            que sentirme orgullosa y que los demás se sientan orgullosos. ¡Allá vamos!
        </p>
    </div>
    <div class="container-links">

        <a class="icon" href="" target="_blank"><i class="fa-brands fa-linkedin" style="color: #099d8d;"></i></a>
        <a class="icon" href="" target="_blank"><i class="fa-brands fa-github" style="color: #099d8d;"></i></a>

        <a class="icon" href="mailto:_____" target="_blank"><i class="fa-solid fa-envelope"
                style="color: #099d8d;"></i></a>
    </div>
    <div class="container-pics"><img class="who-are-we-pics" src="/public/images/Avatar Mai1.jpeg" alt="MaialenPic">
    </div>
    <div class="names">Maialen Muñoa</div>
    <div class="container-description">
        <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet beatae, voluptatum
            exercitationem nam placeat
            magnam aliquid libero animi modi? Modi placeat error deleniti laboriosam quaerat cumque dolor laudantium
            ullam
            numquam.</p>
    </div>
    <div class="container-links">
        <a class="icon" href=""><i class="fa-brands fa-linkedin" style="color: #099d8d;"></i></a>
        <a class="icon" href=""><i class="fa-brands fa-github" style="color: #099d8d;"></i></a>
        <a class="icon" href="mailto:____"><i class="fa-solid fa-envelope" style="color: #099d8d;"></i></a>
    </div>
    <div class="container-pics"></div><img class="who-are-we-pics" src="./images/kitty4.jpg" alt="MartaPic"></div>
    <div class="names">Marta Almeida</div>
    <div class="container-description">
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est vero eum, veniam ipsum eos
            dolor voluptas
            impedit? Eius delectus maxime, unde rem recusandae porro suscipit quis tempore dignissimos facilis sapiente?
        </p>
    </div>
    <div class="container-links">
        <a class="icon" href=""><i class="fa-brands fa-linkedin" style="color: #099d8d;"></i></a>
        <a class="icon" href=""><i class="fa-brands fa-github" style="color: #099d8d;"></i></a>
        <a class="icon" href="mailto:_____"><i class="fa-solid fa-envelope" style="color: #099d8d;"></i></a>
    </div>

    <div class="container-pics"></div><img class="who-are-we-pics" src="./images/kitty5.jpg" alt="SaraPic"></div>
    <div class="names">Sara Sánchez</div>
    <div class="container-description"></div>
    <div class="container-description">
        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint non molestiae molestias id
            nam voluptates dolore
            hic deserunt excepturi, impedit nihil error. Quo adipisci perferendis facilis ea pariatur maxime
            consectetur!
        </p>
    </div>
    </div>
    <div class="container-links">
        <a class="icon" href="#" target="_blank"><i class="fa-brands fa-linkedin" style="color: #099d8d;"></i></a>
        <a class="icon" href="#" target="_blank"><i class="fa-brands fa-github" style="color: #099d8d;"></i></a>
        <a class="icon" href="mailto:____"><i class="fa-solid fa-envelope" style="color: #099d8d;"></i></a>
    </div>

    <img class="who-are-we-pics" src="/public/images/AvatarVir1.jpeg" alt="VirPic"></div>
    <div class="container-pics"></div>
    <div class="names">Virginia De la Rosa</div>
    <div class="container-description"></div>
    <div class="container-description">
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vel nam similique
            nemo
            fuga nesciunt
            sapiente omnis eveniet explicabo natus laborum qui cupiditate ipsa porro odio est commodi, doloribus rerum!
        </p>
    </div>
    </div>
    <div class="container-links">
        <a class="icon" href="https://www.linkedin.com/in/virginia-de-la-rosa-jim%C3%A9nez-52505327a/"
            target="_blank"><i class="fa-brands fa-linkedin" style="color: #099d8d;"></i></a>
        <a class="icon" href="https://github.com/Vir19" target="_blank"><i class="fa-brands fa-github"
                style="color: #099d8d;"></i></a>
        <a class="icon" href="mailto:viir19@hotmail.com"><i class="fa-solid fa-envelope"
                style="color: #099d8d;"></i></a>
    </div>
</section>