<section class="adalabers" id="adalabers">
  <div class="who-are-we">QUIÉNES SOMOS</div>
  <!--<div class="container-pics> <img src=" /images/Avatar Esther1" alt="EstherPic"> </div> -->
  <div class="container-pics"><img class="who-are-we-pics" src="/images/Avatar Esther1.jpg" alt="EstherPic"></div>
  <div class="names">Esther García</div>
  <div class="container-description">
    <p class="description">Soy diseñadora gráfica especializada en HTML, CSS y WordPress. Como quería expandir mis
      conocimientos y explorar nuevas rutas, decidí aventurarme en el apasionante mundo de la programación web al
      completo (¡Hola GitHub, JavaScript, React, etc!). Gracias a Adalab, espero que este sea mi primer paso para
      convertirme en una superheroína digital que pueda combinar diseño y programación para crear sitios web de
      los
      que sentirme orgullosa y que los demás se sientan orgullosos. ¡Allá vamos!
    </p>
  </div>
  <div class="container-links">
    <a class="icon" href="https://www.linkedin.com/in/esther-garc%C3%ADa-bennassar-a21078268/" target="_blank"><i
        class="fa-brands fa-linkedin"></i></a>
    <a class="icon" href="https://github.com/esgab" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a class="icon" href="mailto:garbennes@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
  </div>
  <div class="container-pics"><img class="who-are-we-pics" src="/images/Avatar Mai1.jpeg" alt="MaialenPic">
  </div>
  <div class="names">Maialen Muñoa</div>
  <div class="container-description">

    <p class="description">Soy periodista con más de 14 años de experiencia, mamá de dos niñas y ahora, también,
      Adalaber. Desde que pisé por primera vez una redacción allá por 2009 he aprendido a ir de la mano de la
      tecnología, abrazando sus constantes transformaciones y modernizando mi profesión hacia un perfil más digital.
      Tanto en mi trabajo como en mi vida personal estoy siempre abierta a los cambios, me gusta descubrir algo nuevo
      cada día. En un mundo cada vez más digital, estoy siempre conectada. Mi nuevo reto: convertirme en programadora
      web.</p>
  </div>
  <div class="container-links">
    <a class="icon" href="https://www.linkedin.com/in/maialenmunoa/" target="_blank"><i
        class="fa-brands fa-linkedin"></i></a>
    <a class="icon" href="https://github.com/maialenmunoa" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a class="icon" href="mailto:hola@maialenmunoa.com"><i class="fa-solid fa-envelope"></i></a>
  </div>
  <div class="container-pics"></div><img class="who-are-we-pics" src="/images/Avatar Marta1.jpg" alt="MartaPic">
  </div>
  <div class="names">Marta Almeida</div>
  <div class="container-description">
    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est vero eum, veniam ipsum eos
      dolor voluptas
      impedit? Eius delectus maxime, unde rem recusandae porro suscipit quis tempore dignissimos facilis sapiente?
    </p>
  </div>
  <div class="container-links">
    <a class="icon" href="http://www.linkedin.com/in/marta-almeida-a69b21292" target="_blank"><i
        class="fa-brands fa-linkedin"></i></a>
    <a class="icon" href="https://github.com/Marta-Af" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a class="icon" href="mailto:_____" target="_blank"><i class="fa-solid fa-envelope"></i></a>
  </div>

  <div class="container-pics"><img class="who-are-we-pics" src="/images/Avatar Sara1.jpeg" alt="SaraPic">
  </div>
  <div class="names">Sara Sánchez</div>
  <div class="container-description">
    <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint non molestiae molestias id
      nam voluptates dolore
      hic deserunt excepturi, impedit nihil error. Quo adipisci perferendis facilis ea pariatur maxime
      consectetur!
    </p>
  </div>
  </div>
  <div class="container-links">
    <a class="icon" href="http://linkedin.com/in/sara-sanchez-crespo-b0538029a" target="_blank"><i
        class="fa-brands fa-linkedin"></i></a>
    <a class="icon" href="https://github.com/SaraSzCr" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a class="icon" href="mailto:scresposara@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
  </div>

  <div class="container-pics"><img class="who-are-we-pics" src="/images/AvatarVir1.jpeg" alt="VirPic">
  </div>
  <div class="names">Virginia De la Rosa</div>
  <div class="container-description">
    <p class="description">He dedicado los primeros años de mi vida a trabajar en una de mis pasiones, el mundo de la
      cosmética y la estética.
      Han sido años muy disfrutados hasta que llegó la hora de cambiar el rumbo laboral y me sumergí en el sector de la
      logística,
      donde fui consciente de que tengo otras capacidades no explotadas y, además, mi mente le abrió la puerta a las
      nuevas
      tecnologías. Con esa curiosidad incipiente decidí empezar programación web, y a día de hoy veo el avance de mi
      carrera profesional orientada a este mundo que no para de crecer, al igual que las personas.
    </p>
  </div>
  </div>
  <div class="container-links">
    <a class="icon" href="https://www.linkedin.com/in/virginia-de-la-rosa-jim%C3%A9nez-52505327a/" target="_blank"><i
        class="fa-brands fa-linkedin"></i></a>
    <a class="icon" href="https://github.com/Vir19" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a class="icon" href="mailto:viir19@hotmail.com"><i class="fa-solid fa-envelope"></i></a>
  </div>
</section>