<section class="adalabers">
    <div class="who-are-we">QUIÉNES SOMOS</div>
    <img class="who-are-we-pics" src="/public/images/Avatar Esther1.jpg" alt="EstherPic">
    <div class="names">Esther García</div>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi accusamus dolor dolore omnis
        quam, quia
        in
        dolores repellat provident? Quam ipsam maiores quibusdam necessitatibus ratione dolor rerum quasi ullam natus?
    </p>
    <div class="container">
        <a href="" target="_blank"><img class="icon" src="./images/linkedingreen.svg" alt="LogoLinkedin" href="#"></a>
        <a href="" target="_blank"><img class="icon" src="./images/githubgreen.svg" alt="LogoGitHub" href="#"></a>
        <a href="mailto:_____" target="_blank"><img class="icon" src="./images/emailgreen.svg" alt="LogoEmail"
                href="#"></a>
    </div>
    <img class="who-are-we-pics" src="./images/kitty2.jpg" alt="MaialenPic">
    <div class="names">Maialen Muñoa</div>
    <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet beatae, voluptatum
        exercitationem nam placeat
        magnam aliquid libero animi modi? Modi placeat error deleniti laboriosam quaerat cumque dolor laudantium ullam
        numquam.</p>
    <div class="container">
        <a href=""><img class="icon" src="./images/linkedingreen.svg" alt="LogoLinkedin" href="#"></a>
        <a href=""><img class="icon" src="./images/githubgreen.svg" alt="LogoGitHub" href="#"></a>
        <a href="mailto:____"><img class="icon" src="./images/emailgreen.svg" alt="LogoEmail" href="#"></a>
    </div>
    <img class="who-are-we-pics" src="./images/kitty4.jpg" alt="MartaPic">
    <div class="names">Marta Almeida</div>
    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est vero eum, veniam ipsum eos
        dolor voluptas
        impedit? Eius delectus maxime, unde rem recusandae porro suscipit quis tempore dignissimos facilis sapiente?
    <div class="container">
        <a href=""><img class="icon" src="./images/linkedingreen.svg" alt="LogoLinkedin"></a>
        <a href=""><img class="icon" src="./images/githubgreen.svg" alt="LogoGitHub" href="#"></a>
        <a href="mailto:_____"><img class="icon" src="./images/emailgreen.svg" alt="LogoEmail" href="#"></a>
    </div>
    </p>
    <img class="who-are-we-pics" src="./images/kitty5.jpg" alt="SaraPic">
    <div class="names">Sara Sánchez</div>
    <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint non molestiae molestias id
        nam voluptates dolore
        hic deserunt excepturi, impedit nihil error. Quo adipisci perferendis facilis ea pariatur maxime consectetur!
    <div class="container">
        <a href="#" target="_blank"><img class="icon" src="./images/linkedingreen.svg" alt="LogoLinkedin" href="#"></a>
        <a href="#" target="_blank"><img class="icon" src="./images/githubgreen.svg" alt="LogoGitHub" href="#"></a>
        <a href="mailto:____"><img class="icon" src="./images/emailgreen.svg" alt="LogoEmail"></a>
    </div>
    </p>
    <img class="who-are-we-pics" src="/public/images/AvatarVir1.jpeg" alt="VirPic">
    <div class="names">Virginia De la Rosa</div>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vel nam similique
        nemo
        fuga nesciunt
        sapiente omnis eveniet explicabo natus laborum qui cupiditate ipsa porro odio est commodi, doloribus rerum!</p>
    <div class="container" style="color: #099D8D;">
        <a href="https://www.linkedin.com/in/virginia-de-la-rosa-jim%C3%A9nez-52505327a/" target="_blank"><img
                class="icon" src="./images/linkedingreen.svg" alt="LogoLinkedin"></a>
        <a href="https://github.com/Vir19" target="_blank"><img class="icon" src="./images/githubgreen.svg"
                alt="LogoGitHub"></a>
        <a href="mailto:viir19@hotmail.com"><img class="icon" src="./images/emailgreen.svg" alt="LogoEmail"></a>
    </div>
</section>