<section class="s&w">
    <div class="rectangle-sw">
        <div class="square"></div>
        <div class="container-sw">
            <article class="article-s">
            <span class="title-sw">
                Fortalezas
            </span>
            <span class="text-sw">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis
                metus
                eleifend in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum
                neque et aliquam varius.
            </span>
        </article>
        <article class= "article-w">
            <span class="title-sw">
                Debilidades
            </span>
            <span class="text-sw">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis
                metus
                eleifend in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum
                neque et aliquam varius.
            </span>
        </article>
    </div>
</section>