<section class="s&w">
    <div class="rectangle-sw">
        <div class="square"></div>
        <div class="container-sw">
            <article class="article-s">
            <span class="title-sw">
                Fortalezas
            </span>
            <span class="text-sw">
                La perseverancia, la creatividad, la capacidad de trabajo en equipo y, sobre todo, la pasión por la tecnología están de nuestro lado en la conquista del mundo digital. Nuestras habilidades nos ayudarán e impulsarán hacia la innovación en el mundo de la programación.
            </span>
        </article>
        <article class= "article-w">
            <span class="title-sw">
                Debilidades
            </span>
            <span class="text-sw">
                Como aspirantes a programadoras web nos enfrentamos a desafíos como la gestión del tiempo, la falta de experiencia, la presión, los obstáculos en la resolución de problemas técnicos y la actualización constante que requiere este tipo de perfil profesional.
            </span>
        </article>
    </div>
</section>